body {
    background-image: url("../images/nyan.jpg");
    background-color: lightgray;
    margin: auto;
}
.allimags{
    height:250px;
    width:250px;
}
#container-btn{
    width:60%;
    margin:50px;
    position:relative;
    
    left:5px;
}
#container-form {
    margin:40px;
    position: relative;;
    
    right:40px;
}
.container{
    margin:10px 62px 10px 62px;
}
#thisisfavorite {
    margin: 25px;
}
#thisisaddmore {
    margin: 25px;
}
.btn-secondary {
    background-color: #A9A9A9;
}
#wordinsert {
    margin-top: 8px;
}